@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fraunces:opsz,wght@9..144,700&family=Karla&family=Kumbh+Sans:wght@300&family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --primary-color: #118da8;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #191919;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
@media (max-width: 768px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
  .menu__list {
    justify-content: center;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  align-items: center;
  padding: 10px 0 10px 0;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 4px;
}
.menu__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: white;
}
.menu__link span {
  color: var(--primary-color);
}
.menu__link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-color);
          text-decoration-color: var(--primary-color);
}

.main-block {
  padding-top: 159px;
}
.body-main-block {
  position: relative;
  display: flex;
}
.body-main-block__image::before {
  content: url("../images/main-block/imagedecor.svg");
  display: flex;
  position: absolute;
  margin: -26px 0 0 -26px;
}
.body-main-block__image img {
  max-width: 100%;
}
.body-main-block__content {
  flex: 0 0 50%;
}

.content-main-block__title {
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  color: #ffffff;
  margin: 294px 0 90px 60px;
}
.content-main-block__title span:nth-child(1) {
  position: relative;
  font-size: 75px;
}
.content-main-block__title span:nth-child(1)::after {
  display: flex;
  position: absolute;
  content: url("../images/main-block/textdecor.svg");
  bottom: -10px;
}
.content-main-block__title span:nth-child(2) {
  font-weight: 700;
  font-size: 80px;
}

.partners-main-block {
  margin: 0 0 0 82px;
}
.partners-main-block__label {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
.partners-main-block__items {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0 0;
}
.partners-main-block__item {
  margin: 0 17.5px 0 0;
}

@media (max-width: 600px) {
  .body-main-block {
    flex-direction: column;
  }
  .content-main-block__title {
    margin: 50px 0 70px 0;
    line-height: 1;
    text-align: center;
  }
  .content-main-block__title span:nth-child(1)::after {
    left: 0;
  }
  .partners-main-block {
    margin: 0;
  }
}
.episodes {
  padding-top: 93px;
}
.episodes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.episodes__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #ffffff;
}
.episodes__button {
  padding: 12px 17px;
  background-color: var(--primary-color);
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  border-radius: 6px;
  color: #ffffff;
}
.episodes__items {
  display: flex;
  flex-direction: column;
}
.episodes__item {
  width: 100%;
  background-color: black;
  border-radius: 32px;
  margin: 60px 0 0 0;
  padding: 40px 40px 40px 40px;
}

.item-episodes {
  display: flex;
}
.item-episodes__image-container {
  max-width: 389px;
}
.item-episodes__image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-episodes__label {
  padding: 0 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  border-radius: 6px;
  margin: 8px 0 48px 0;
  display: inline-block;
  background: #191919;
}
.item-episodes__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 18px 0;
}
.item-episodes__text span {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: var(--primary-color);
}
.item-episodes__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
  color: #ffffff;
  margin: 18px 0 28px 0;
}
.item-episodes__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
  background-color: var(--primary-color);
  padding: 12px 17px;
  border-radius: 6px;
}

.item-content {
  padding: 0 0 0 53px;
}

@media (max-width: 600px) {
  .episodes__header {
    flex-wrap: wrap;
  }
  .episodes__button {
    margin: 20px 0 0 0;
  }
  .item-episodes {
    flex-wrap: wrap;
    padding: 20px 15px 20px 15px;
  }
  .item-episodes__title {
    font-size: 52px;
    line-height: 1;
  }
  .item-content {
    padding: 0;
  }
}
.host__body {
  display: flex;
  padding: 260px 0 0 0;
}

.body-host-block {
  display: flex;
}
.body-host-block__image img {
  max-width: 100%;
}
.body-host-block__content {
  flex: 0 0 50%;
}

.content-host-block__button {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 34px 17px;
  margin: 148px 0 0 0;
}
.content-host-block__button img {
  width: 71px;
  height: 38px;
}
.content-host-block__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #118da8;
  margin: 20px 0 0 0;
}
.content-host-block__title {
  font-weight: 400;
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
  margin: 0 0 28px 0;
  color: #ffffff;
}
.content-host-block__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin: 0 94px 33px 0;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
  .body-host-block {
    flex-wrap: wrap;
    padding: 0;
  }
  .body-host-block__content {
    flex: 0 0 100%;
  }
  .content-host-block__text {
    margin: 0 0 20px 0;
  }
}
.news__container::after {
  content: url("../images/news/formdecoration.svg");
  display: flex;
  position: absolute;
  margin: -68px 0 0 -38px;
}
.news__body {
  display: flex;
  background-color: black;
  width: 100%;
  border-radius: 32px;
  margin: 201px 0 0 0;
}

.body-news-block__content {
  flex: 0 0 50%;
  padding: 0 159px 0 60px;
}
.body-news-block__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;
}
.body-news-block__form input {
  background: #191919;
  border: 1px solid #191919;
  border-radius: 6px;
  max-width: 450px;
  margin: 0 0 20px 0;
  padding: 20px 110px 20px 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.body-news-block__form button {
  background: #118da8;
  border-radius: 6px;
  color: white;
  padding: 9px 17px;
  display: inline-block;
  width: 87px;
  height: 48px;
}

.content-news-block__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
  margin: 59px 0 0 0;
}
.content-news-block__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: #ffffff;
  margin: 0 0 143px 0;
}

@media (max-width: 600px) {
  .body-news-block {
    flex-wrap: wrap;
    padding: 0;
    margin: 148px 0 0 0;
  }
  .form-news-block {
    padding: 0 10px 0 10px;
  }
  .content-news-block {
    padding: 0 0 0 10px;
  }
  .content-news-block__title {
    font-size: 56px;
    margin: 0 0 30px 0;
  }
  .form-news-block {
    margin: 0 0 15px 0;
  }
}
.review__body {
  margin: 200px 0 200px 0;
  display: flex;
}

.body-review-block__items {
  flex: 0 0 33.333%;
}
.body-review-block__item {
  background: #000000;
  border-radius: 32px;
  height: 364px;
  margin: 16px 15px 0 0;
  padding: 0 15px 0 50px;
}
.body-review-block__icon {
  padding: 54px 0 0 0;
}
.body-review-block__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
  margin: 21px 0 19px;
}
.body-review-block__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
  .body-review-block {
    flex-wrap: wrap;
  }
  .body-review-block__items {
    flex: 0 0 100%;
  }
  .body-review-block__item {
    padding: 0 15px 0 15px;
  }
}
.footer__body {
  margin: 0 0 127px 0;
}
.footer__content {
  display: flex;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  flex: 0 0 50%;
}
.footer__social {
  display: flex;
}
.footer__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  margin: 0 120px 10px 0;
}
.footer__partners {
  display: flex;
  width: 55%;
}

.social__image {
  margin: 23.5px 15px 0 0;
}

.partners__item {
  margin: 0px 20px 0 0;
}

@media (max-width: 600px) {
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__items {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */